body { 
    padding-top: 70px; 
	background-color: white;
	color: black;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}
i {
    width: 85px;
}

.carousel-inner img {
  margin: auto;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

#Artist0 {
    text-align: center;
    height: 600px;
    padding: 10px;
}   

#Pochette {
    height: 150px;
    padding: 10px;
}   

#Artist {
    font-size: 2.5em;
    font-weight: bold;
}

#Titre {
    font-size: 1.8em;
}

#dz-root {
    opacity: 0.1;
}

#panneaucommandes {
    opacity: 0.1;
}

div.marquee {
    white-space:no-wrap;
    overflow:hidden;
}
div.marquee > div.marquee-text {
    font-size: 2em;
    white-space:nowrap;
    display:inline;
    width:auto;
}